{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Угадай слово</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Угадай слово</h1>
        <form method="post">
            {% csrf_token %}
            <label for="num_players">Количество участников</label>
            <input type="number" name="num_players" id="num_players" required>
            <button type="submit">Начать игру!</button>
        </form>
    </div>
</body>
</html>
